@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1,
  h2 {
    @apply text-4xl md:text-5xl font-bold text-darkGrayishBlue mb-8;
  }
}
.buttons-container {
  @apply flex flex-col justify-center space-y-6 md:space-y-0 md:flex-row md:space-x-4;
}
.section-container {
  @apply max-w-6xl mx-auto text-center;
}
body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}
